#menu2
{
    position: relative;
    top:40px;
    left: 30px;
    vertical-align: top;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
#menu2b
{
    position: relative;
    top:40px;
    left: 30px;
    vertical-align: top;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.menu2_left
{
    background-image: url('../imgs/menu2-left.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 32px;
}
.menu2_item
{
    background-image: url('../imgs/menu2-main.png');
    background-repeat: repeat-x;
    x-width: 150px;
    height: 32px;
    padding-right: 20px;
    padding-left: 20px;
}
.menu2_separator
{
    background-image: url('../imgs/menu2-separator.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 32px;
}
.menu2_right
{
    background-image: url('../imgs/menu2-right.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 32px;
}
.menu2_item a
{
    position: relative;
    top: 10px;
    color:Black;
    text-decoration: none;
    font-weight: 500;
}
#menu2_submenu
{
    font-size: 12px;
    height:14px;
}
#menu2_submenu a
{
    color:Black;
}
.menu2_sub_separator
{
    width: 10px;
    display: inline-block;
}
