<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd


       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
        >

	<context:annotation-config/>
	<tx:annotation-driven/>
	<!--context:component-scan base-package="test.database"/-->

<!--bean name="testManager" class="org.springframework.test.context.TestContextManager">
	<constructor-arg value="test.database.SimpleDBTester"/>
</bean-->
	<!--bean name="test1" class="test.database.SimpleDBTester">
</bean-->
<bean id="propertyConfigurer1" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations">
		<list>
			<value>classpath:/gallery/database/jdbc.properties</value>
			<value>classpath:/gallery/database/hibernate.properties</value>
			<value>classpath:/gallery/misc/wallpaper.properties</value>
			<value>classpath:/gallery/server.properties</value>
		</list>
	</property>
</bean>

 	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

</beans>